@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUSWDSInterior.cshtml";
}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
      integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
      crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
        integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
        crossorigin=""></script>
<style>
    /*.usa-alert--info .usa-alert__body::before {
        background: url(/assets/img/usa-icons/info.svg) no-repeat center/contain;
        height: 2rem;
        width: 2rem;
        content: "";
        display: block;
        height: 4;
        left: .5rem;
        position: absolute;
        top: .75rem;
    }
    .usa-alert--error .usa-alert__body::before {
        background: url(https://designsystem.digital.gov/assets/img/usa-icons/error.svg) no-repeat center/contain;
        height: 2rem;
        width: 2rem;
        content: "";
        display: block;
        height: 4;
        left: .5rem;
        position: absolute;
        top: .75rem;
    }*/

</style>

<div class="usa-section">
    <div class="grid-container">
        <div class="grid-row grid-gap">
            <div class="usa-layout-docs__sidenav desktop:grid-col-2">
                <nav aria-label="Secondary navigation">
                    <ul class="usa-sidenav">
                        <li class="usa-sidenav__item"><a href="">Home</a></li>
                        <li class="usa-sidenav__item">
                            <a href="" class="usa-current">Collections</a>
                            <ul class="usa-sidenav__sublist">
                                <li class="usa-sidenav__item"><a href="#plant-germplasm">Plant Germplasm</a></li>
                                <li class="usa-sidenav__item"><a href="#animal-germplasm">Animal Germplasm</a></li>
                                <li class="usa-sidenav__item"><a href="#microbial-germplasm">Microbial Germplasm</a></li>
                                <li class="usa-sidenav__item"><a href="#grin-collections">GRIN Collections</a></li>
                            </ul>
                        </li>
                        <li class="usa-sidenav__item"><a href="@Url.Action("Index", "Contact")">Contact Us</a></li>
                    </ul>
                </nav>
            </div>
            <main class="usa-layout-docs__main desktop:grid-col-10 usa-prose usa-layout-docs" id="main-content">
                <p class="usa-intro">
                    GRIN both provides data, and compiles references to databases hosted by collaborating projects.
                </p>

                <a id="plant-germplasm"></a>
                <h2 id="section-heading-h2p">Plant Germplasm</h2>
                <p>
                    The National Plant Germplasm System (NGPS) is a collaborative effort to safeguard the
                    genetic diversity of agriculturally important plants. The mission of the NPGS is
                    to support agricultural production by acquiring, conserving, evaluating, documenting,
                    and distributing crop germplasm.
                </p>
                <ul class="usa-collection__meta" aria-label="Topics">
                    <li class="usa-collection__meta-item usa-tag usa-tag--new">
                        <a href="https://npgsweb.ars-grin.gov/gringlobal/search">
                            Search NPGS GRIN-Global
                        </a>
                    </li>
                    <li class="usa-collection__meta-item usa-tag usa-tag--new">
                        <a href="https://www.ars.usda.gov/northeast-area/beltsville-md-barc/beltsville-agricultural-research-center/national-germplasm-resources-laboratory/docs/plant-inventory-books/">Plant Inventory Books</a>
                    </li>
                    <li class="usa-collection__meta-item usa-tag usa-tag--new"><a style="color:white;" href="@Url.Action("Index", "CGC")">Crop Germplasm Committees</a></li>
                    <li class="usa-collection__meta-item usa-tag usa-tag--new"><a href="https://npgsweb.ars-grin.gov/gringlobal/query/summary">Diversity of Species in NPGS</a></li>
                    <li class="usa-collection__meta-item usa-tag usa-tag--new"><a href="https://npgsweb.ars-grin.gov/gringlobal/query/accessionsbysite">Summary by Genebank</a></li>
                    <li class="usa-collection__meta-item usa-tag usa-tag--new"><a href="https://ia800305.us.archive.org/31/items/CAT31108469/CAT31108469.pdf">Seeds For Our Future (PDF)</a></li>
                    <li class="usa-collection__meta-item usa-tag usa-tag--new"><a href="https://www.youtube.com/watch?v=uHOclGNELuw">Video About the NPGS (6 Minutes)</a></li>
                </ul>
                <p>
                    <!-- Site detail modal -->
                    <div class="margin-y-3">
                        <div class="usa-modal usa-modal--lg"
                             id="example-modal-2"
                             aria-labelledby="modal-2-heading"
                             aria-describedby="modal-2-description">
                            <div class="usa-modal__content">
                                <div id="section-modal-site-detail" class="usa-modal__main">
                                    <h4>Loading...</h4>
                                </div>
                                <button type="button"
                                        class="usa-button usa-modal__close"
                                        aria-label="Close this window"
                                        data-close-modal>
                                    <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                                        <use xlink:href="~/assets/img/sprite.svg#close"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>

                    <h3 id="section-heading-h3">NPGS Genebank Locations</h3>
                    <a style="color: white; cursor:none; outline:none;" id="btnOpenSiteDetailModal" href="#example-modal-2"
                       aria-controls="example-modal-2"
                       data-open-modal>
                        Open large modal
                    </a>
                    <section id="section-repository-map">
                        <div class="grid-container">
                            <div class="grid-row">
                                <div class="tablet:grid-col-12">
                                    <div class="usa-alert usa-alert--info">
                                        <div class="usa-alert__body">
                                            <h4 class="usa-alert__heading">Instructions</h4>
                                            <p class="usa-alert__text">
                                                <ul>
                                                    <li>Click a marker to see details of a particular repository.</li>
                                                    <li>To zoom in to a particular repository's location, select it in the list below.</li>
                                                    <li>Select <strong>Default view</strong> to reset the map.</li>
                                                </ul>
                                                Please <a class="usa-link" href="@Url.Action("Index","Contact")">contact us</a> to report any incorrect or missing information.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-row">
                                <div class="tablet:grid-col-12">
                                    <div class="usa-form">
                                        <label class="usa-label" for="options">Select repository</label>
                                        <select class="usa-select" name="options" id="ddlSelectSite">
                                            <option value="RESET">- Default view -</option>
                                            <option value="13">C.M. Rick Tomato Genetics Resource Center</option>
                                            <option value="1">Cotton Collection</option>
                                            <option value="33">Desert Legume Program</option>
                                            <option value="32">Forest Service National Seed Lab</option>
                                            <option value="31">Maize Genetic Stock Center</option>
                                            <option value="15">National Arboretum</option>
                                            <option value="37">National Arid Land Plant Genetic Resources Unit</option>
                                            <option value="42">National Laboratory for Genetic Resources Preservation</option>
                                            <option value="19">National Small Grains Collection</option>
                                            <option value="2">Natl. Germplasm Repository - Brownwood</option>
                                            <option value="3">Natl. Germplasm Repository - Corvallis</option>
                                            <option value="4">Natl. Germplasm Repository - Davis</option>
                                            <option value="5">Natl. Germplasm Repository - Geneva</option>
                                            <option value="6">Natl. Germplasm Repository - Hilo</option>
                                            <option value="7">Natl. Germplasm Repository - Mayaguez</option>
                                            <option value="8">Natl. Germplasm Repository - Miami</option>
                                            <option value="9">Natl. Germplasm Repository - Riverside</option>
                                            <option value="16">North Central Regional PI Station</option>
                                            <option value="17">Northeast Regional PI Station</option>
                                            <option value="38">Ornamental Plant Germplasm Center</option>
                                            <option value="34">Pea Genetic Stock Collection</option>
                                            <option value="27">Plant Exchange Office</option>
                                            <option value="22">Plant Genetic Resources Conservation Unit, Griffin, GA</option>
                                            <option value="12">Plant Germplasm Quarantine Program</option>
                                            <option value="14">Plant Variety Protection Voucher Collection</option>
                                            <option value="29">Potato Germplasm Introduction Station</option>
                                            <option value="40">Rice Genetic Stock Center</option>
                                            <option value="24">Soybean Collection</option>
                                            <option value="25">US Nicotiana Germplasm Collection</option>
                                            <option value="26">Western Regional PI Station</option>
                                        </select>
                                        <br />
                                    </div>
                                </div>
                                
                            </div>
                            <div class="grid-row">
                                <div class="tablet:grid-col-12">
                                    <div id="map" style="width:748px; height:748px;"></div>
                                </div>
                            </div>
                            
                        </div>
                    </section>
                </p>

                <a id="animal-germplasm"></a>
                <h2 id="section-heading-h2a">Animal Germplasm</h2>
                <p>
                    Animal genetic resources underpin the livestock sector’s production and profitability. As a result livestock industries contribute billions of dollars to national economies. Our mission is to acquire, evaluate and preserve these strategic resources so that industry and the research community can have access to a broad array of genetic variability for national security, the introduction of genetic variation, corrective mating, and various research initiatives.
                </p>
                <ul class="usa-collection__meta" aria-label="Topics">
                    <li class="usa-collection__meta-item usa-tag usa-tag--new"><a href="https://www.ars.usda.gov/plains-area/fort-collins-co/center-for-agricultural-resources-research/paagrpru/docs/animal/animal/">Animal Genetic Resources</a></li>
                    <li class="usa-collection__meta-item usa-tag usa-tag--new"><a href="https://agrin.ars.usda.gov/main_webpage_dev/ars?language=EN&record_source=US">Animal Germplasm Database</a></li>
                </ul>

                <a id="microbial-germplasm"></a>
                <h2 id="section-heading-h2m">Microbial Germplasm</h2>
                <div class="usa-alert usa-alert--error" role="alert">
                    <div class="usa-alert__body">
                        <h4 class="usa-alert__heading">March 8, 2023</h4>
                        <p class="usa-alert__text">
                            The US National Fungus Collections and Fungal Databases are currently offline 
                            for updates and maintenance. We do not currently have an estimated time for the website to 
                            return to online status. If you need assistance during this time, please contact 
                            Dr. Lisa Castlebury at <a class="usa-link" href="mailto:lisa.castlebury@usda.gov">lisa.castlebury@usda.gov</a>. 
                            We thank you for your patience and apologize for the inconvenience.
                        </p>
                    </div>
                </div>
                <p>
                    The goal of this program is to ensure that the genetic diversity of agriculturally important microorganisms is maintained to enhance and increase agricultural efficiency and profitability.The program will collect, authenticate and characterizepotentially useful microbial germplasm; preserve microbial genetic diversity; and facilitate distribution and utilization of microbial germplasm for research and industry.
                    <ul class="usa-collection__meta" aria-label="Topics">
                        <li class="usa-collection__meta-item usa-tag usa-tag--new"><a href="https://nrrl.ncaur.usda.gov/">ARS Culture Collection</a></li>
                        <li class="usa-collection__meta-item usa-tag usa-tag--new"><a href="https://www.ars.usda.gov/northeast-area/ithaca-ny/robert-w-holley-center-for-agriculture-health/emerging-pests-and-pathogens-research/docs/mycology/">ARS Entemopathogenic Fungus Collection (ARSEF)</a></li>
                        @*<li class="usa-collection__meta-item usa-tag usa-tag--new"><a href="https://nt.ars-grin.gov/fungaldatabases/specimens/specimens.cfm">U.S. National Fungus Collection</a></li>*@
                        <li class="usa-collection__meta-item usa-tag ">U.S. National Fungus Collection</li>
                    </ul>
                </p>

                <a id="grin-collections"></a>
                <h2 id="section-heading-h2m">GRIN Datasets</h2>
                <p>
                    GRIN provides access to data maintained within its database, supporting both searches and export.
                    The Rhizobium collection of nitrogen fixing bacteria is maintained by the ARS Soybean Genomics and
                    Improvement Laboratory in Beltsville, MD. Plant Variety Protection Certificates are issued by the
                    Plant Variety Protection Office of the USDA Agricultural Marketing Service.
                </p>
                <ul class="usa-collection__meta" aria-label="Topics">
                    <li class="usa-collection__meta-item usa-tag usa-tag--new"><a href="@Url.Action("Index","PVP")">PVP Applications</a></li>
                    <li class="usa-collection__meta-item usa-tag usa-tag--new"><a href="@Url.Action("Index","Rhizobium")">Rhizobium</a></li>
                </ul>
            </main>
        </div>
    </div>
</div>

@*<script type="text/javascript" src="https://leafletjs.com/examples/choropleth/us-states.js"></script>*@
<script type="text/javascript">
    $(document).ready(function () {
       
        var onMarkerClick = function (e) {
            GetSiteInfo(this.options.myCustomId);
            $("#btnOpenSiteDetailModal")[0].click();
        }

        var mapsPlaceholder = [];

        L.Map.addInitHook(function () {
            mapsPlaceholder.push(this); // Use whatever global scope variable you like.
        });

        var map = L.map('map').setView([37.8, -96], 4);
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

        AddMarker(map, 1, 30.621265741529474, -96.36322365779577);
        AddMarker(map, 2, 30.52256162087769, -96.42361694757689);
        AddMarker(map, 3, 44.5523697626557, -123.22080590437089);
        AddMarker(map, 4, 38.54534827747721, -121.76205582976104);
        AddMarker(map, 5, 42.87586429614284, -77.0094786379856);
        AddMarker(map, 6, 19.698305703576505, -155.09394900500138);
        AddMarker(map, 7, 18.206762039508924, -67.13607922053356);
        AddMarker(map, 8, 25.643766818971724, -80.29177123188563);
        AddMarker(map, 9, 33.968086924220906, -117.33465691819603);
        AddMarker(map, 12, 39.02566450368904, -76.9239371873639);
        AddMarker(map, 13, 38.5438834072966, -121.75188154752786);
        AddMarker(map, 14, 38.887209126646084, -77.04998720353761);
        AddMarker(map, 15, 39.02569516107946, -76.9239839545552);
        AddMarker(map, 16, 42.01176044472337, -93.66030706383614);
        AddMarker(map, 17, 42.87767288811723, -77.00714768723786);
        AddMarker(map, 19, 42.957059538060996, -112.82884538908021);
        AddMarker(map, 22, 33.2628691212209, -84.28086103170835);
        AddMarker(map, 24, 40.10142981569696, -88.2226084026721);
        AddMarker(map, 25, 35.78697325278695, -78.67179093348761);
        AddMarker(map, 26, 46.73216924552276, -117.15583494393647);
        AddMarker(map, 27, 39.02569516107946, -76.9239839545552);
        AddMarker(map, 29, 44.879791615571875, -87.33620707367454);
        AddMarker(map, 31, 40.103010838004984, -88.2242952455872);
        AddMarker(map, 32, 32.805813328067096, -83.53950921637805);
        AddMarker(map, 33, 32.27603111255101, -110.93999070492106);
        AddMarker(map, 34, 46.73216924552276, -117.15583494393647);
        AddMarker(map, 37, 36.59662729420124, -119.51275550369792);
        AddMarker(map, 38, 40.0020164163351, -83.02900516034644);
        AddMarker(map, 40, 34.47568015208264, -91.41876870653792);
        AddMarker(map, 42, 40.573075009768466, -105.07968634683476);

        $('#ddlSelectSite').change(function () {

            var siteId = this.value;

            switch (siteId) {
                case "1":
                    map.setView([30.621265741529474, -96.36322365779577], 15);
                    break;
                case "2":
                    map.setView([30.52256162087769, -96.42361694757689], 15);
                    break;
                case "3":
                    map.setView([44.5523697626557, -123.22080590437089], 9);
                    break;
                case "4":
                    map.setView([38.54534827747721, -121.76205582976104], 9);
                    break;
                case "5":
                    map.setView([42.87586429614284, -77.0094786379856], 9);
                    break;
                case "6":
                    map.setView([19.698305703576505, -155.09394900500138], 9);
                    break;
                case "7":
                    map.setView([18.206762039508924, -67.13607922053356], 9);
                    break;
                case "8":
                    map.setView([25.643766818971724, -80.29177123188563], 9);
                    break;
                case "9":
                    map.setView([33.968086924220906, -117.33465691819603], 9);
                    break;
                case "12":
                    map.setView([39.02566450368904, -76.9239371873639], 20);
                    break;
                case "13":
                    map.setView([38.5438834072966, -121.75188154752786], 18);
                    break;
                case "14":
                    map.setView([38.887209126646084, -77.04998720353761], 18);
                    break;
                case "15":
                    map.setView([39.02569516107946, -76.9239839545552], 25);
                    break;
                case "16":
                    map.setView([42.01176044472337, -93.66030706383614], 9);
                    break;
                case "17":
                    map.setView([42.87767288811723, -77.00714768723786], 9);
                    break;
                case "19":
                    map.setView([42.957059538060996, -112.82884538908021], 9);
                    break;
                case "22":
                    map.setView([33.2628691212209, -84.28086103170835], 9);
                    break;
                case "24":
                    map.setView([40.10142981569696, -88.2226084026721], 9);
                    break;


                case "25":
                    map.setView([35.78697325278695, -78.67179093348761], 9);
                    break;
                case "26":
                    map.setView([46.73216924552276, -117.15583494393647], 9);
                    break;
                case "27":
                    map.setView([39.02569516107946, -76.9239839545552], 9);
                    break;
                case "29":
                    map.setView([44.879791615571875, -87.33620707367454], 9);
                    break;
                case "31":
                    map.setView([40.103010838004984, -88.2242952455872], 9);
                    break;
                case "32":
                    map.setView([32.805813328067096, -83.53950921637805], 15);
                    break;
                case "33":
                    map.setView([32.27603111255101, -110.93999070492106], 9);
                    break;
                case "34":
                    map.setView([46.73216924552276, -117.15583494393647], 9);
                    break;
                case "37":
                    map.setView([36.59662729420124, -119.51275550369792], 9);
                    break;
                case "38":
                    map.setView([40.0020164163351, -83.02900516034644], 9);
                    break;
                case "40":
                    map.setView([34.47568015208264, -91.41876870653792], 9);
                    break;
                case "42":
                    map.setView([40.573075009768466, -105.07968634683476], 9);
                    break;
                case "RESET":
                    map.setView([37.8, -96], 4);
                    break;
            }
        });

        function AddMarker(map, siteId, xCoord, yCoord) {
            siteId = siteId;
            var marker = L.marker([xCoord, yCoord], { myCustomId: siteId });
            marker.on('click', onMarkerClick);
            marker.addTo(map);
        }
        
    });

    var onMarkerClick = function (e) {
        var selectedSiteId = this.options.myCustomId;
        var link = '@Url.Action("_Detail", "Site", new { siteId = "SITE_ID" })';
        link = link.replace("SITE_ID", selectedSiteId);
        GetSiteInfo(selectedSiteId);
        $("#btnOpenSiteDetailModal")[0].click();
    }

    function GetSiteInfo(siteId) {
        var link = '@Url.Action("_Detail","Site")';
        var formData = new FormData();
        formData.append("SiteID", siteId);

        try {
            $.ajax({
                url: link,
                type: 'POST',
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                success: function (response) {
                    $("#section-modal-site-detail").html(response);
                }
            });
        }
        catch (ex) {
            //ErrorHandler(ex);
        }
    }

    var siteId = "";

    

    

    
</script>
