
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUSWDSInterior.cshtml";
}

<div class="usa-section">
    <div class="grid-container">
        <div class="grid-row grid-gap">
            <div class="usa-layout-docs__sidenav desktop:grid-col-2">
                <nav aria-label="Secondary navigation">
                    <ul class="usa-sidenav">
                        <li class="usa-sidenav__item"><a href="">Home</a></li>
                        <li class="usa-sidenav__item">
                            <a href="" class="usa-current">Collections</a>
                            <ul class="usa-sidenav__sublist">
                                <li class="usa-sidenav__item"><a href="#plant-germplasm">Plant Germplasm</a></li>
                                <li class="usa-sidenav__item"><a href="#animal-germplasm">Animal Germplasm</a></li>
                                <li class="usa-sidenav__item"><a href="#microbial-germplasm">Microbial Germplasm</a></li>
                                <li class="usa-sidenav__item"><a href="#grin-collections">GRIN Collections</a></li>
                            </ul>
                        </li>
                        <li class="usa-sidenav__item"><a href="@Url.Action("Index","Contact")">Contact Us</a></li>
                    </ul>
                </nav>
            </div>
            <main class="usa-layout-docs__main desktop:grid-col-10 usa-prose usa-layout-docs" id="main-content">
                <p class="usa-intro">
                    GRIN both provides data, and compiles references to databases hosted by collaborating projects.
                </p>

                <a id="plant-germplasm"></a>
                <h2 id="section-heading-h2p">Plant Germplasm</h2>
                <p>
                    The National Plant Germplasm System (NGPS) is a collaborative effort to safeguard the
                    genetic diversity of agriculturally important plants. The mission of the NPGS is
                    to support agricultural production by acquiring, conserving, evaluating, documenting,
                    and distributing crop germplasm.
                </p>
                <ul class="usa-collection__meta" aria-label="Topics">
                    <li class="usa-collection__meta-item usa-tag usa-tag--new">
                        <a href="https://npgsweb.ars-grin.gov/gringlobal/search">
                            Search NPGS GRIN-Global
                        </a>
                    </li>
                    <li class="usa-collection__meta-item usa-tag usa-tag--new">
                        <a href="https://www.ars.usda.gov/northeast-area/beltsville-md-barc/beltsville-agricultural-research-center/national-germplasm-resources-laboratory/docs/plant-inventory-books/">Plant Inventory Books</a>
                    </li>
                    <li class="usa-collection__meta-item usa-tag usa-tag--new"><a style="color:white;" href="@Url.Action("Index","CGC")">Crop Germplasm Committees</a></li>
                    <li class="usa-collection__meta-item usa-tag usa-tag--new"><a href="https://www.ars-grin.gov/Pages/Repositories">Repositories</a></li>
                    <li class="usa-collection__meta-item usa-tag usa-tag--new"><a href="https://npgsweb.ars-grin.gov/gringlobal/query/summary">Diversity of Species in NPGS</a></li>
                    <li class="usa-collection__meta-item usa-tag usa-tag--new"><a href="https://npgsweb.ars-grin.gov/gringlobal/query/accessionsbysite">Summary by Genebank</a></li>
                    <li class="usa-collection__meta-item usa-tag usa-tag--new"><a href="https://ia800305.us.archive.org/31/items/CAT31108469/CAT31108469.pdf">Seeds For Our Future (PDF)</a></li>
                    <li class="usa-collection__meta-item usa-tag usa-tag--new"><a href="https://www.youtube.com/watch?v=uHOclGNELuw">Video About the NPGS (6 Minutes)</a></li>
                </ul>
                <p>
                    <!-- Site detail modal -->
                    <div class="margin-y-3">
                        <div class="usa-modal usa-modal--sm"
                             id="example-modal-2"
                             aria-labelledby="modal-2-heading"
                             aria-describedby="modal-2-description">
                            <div class="usa-modal__content">
                                <div id="section-modal-site-detail" class="usa-modal__main">
                                    <h4>Loading...</h4>
                                </div>
                                <button type="button"
                                        class="usa-button usa-modal__close"
                                        aria-label="Close this window"
                                        data-close-modal>
                                    <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                                        <use xlink:href="~/assets/img/sprite.svg#close"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>

                    <h3 id="section-heading-h3">Repository Map (U.S. and Territories)</h3>
                    <a style="color: Background; cursor:none; outline:none;" id="btnOpenSiteDetailModal" href="#example-modal-2"
                       aria-controls="example-modal-2"
                       data-open-modal>
                        Open large modal
                    </a>
                    <section id="section-repository-map">
                        <div class="grid-container">
                            <div class="grid-row">
                                <div class="tablet:grid-col-12">
                                    <div class="usa-alert usa-alert--info usa-alert--no-icon" style="width:850px;">
                                        <div class="usa-alert__body">
                                            <p class="usa-alert__text">
                                                Click on a marker to display the corresponding germplasm collection site's pertinent information.
                                                @*<a class="usa-link" href="javascript:void(0);">consectetur adipiscing</a>
                                        elit, sed do eiusmod.*@
                                            </p>
                                        </div>
                                    </div>
                                    <br />
                                </div>
                            </div>
                            <div class="grid-row">
                                <div class="tablet:grid-col-12">
                                    <div id="mapid" style="width:850px; height:850px;"></div>
                                </div>
                            </div>
                        </div>
                    </section>
                </p>

                <a id="animal-germplasm"></a>
                <h2 id="section-heading-h2a">Animal Germplasm</h2>
                <p>
                    Animal genetic resources underpin the livestock sector’s production and profitability. As a result livestock industries contribute billions of dollars to national economies. Our mission is to acquire, evaluate and preserve these strategic resources so that industry and the research community can have access to a broad array of genetic variability for national security, the introduction of genetic variation, corrective mating, and various research initiatives.
                </p>
                <ul class="usa-collection__meta" aria-label="Topics">
                    <li class="usa-collection__meta-item usa-tag usa-tag--new"><a href="https://nrrc.ars.usda.gov/A-GRIN/database_collaboration_page_dev">Animal Genetic Resources</a></li>
                    <li class="usa-collection__meta-item usa-tag usa-tag--new"><a href="Search the Animal Germplasm Database">Animal Germplasm Database</a></li>
                </ul>

                <a id="microbial-germplasm"></a>
                <h2 id="section-heading-h2m">Microbial Germplasm</h2>
                <p>
                    The goal of this program is to ensure that the genetic diversity of agriculturally important microorganisms is maintained to enhance and increase agricultural efficiency and profitability.The program will collect, authenticate and characterizepotentially useful microbial germplasm; preserve microbial genetic diversity; and facilitate distribution and utilization of microbial germplasm for research and industry.
                    <ul class="usa-collection__meta" aria-label="Topics">
                        <li class="usa-collection__meta-item usa-tag usa-tag--new"><a href="https://www.ars.usda.gov/northeast-area/ithaca-ny/robert-w-holley-center-for-agriculture-health/emerging-pests-and-pathogens-research/docs/mycology/">ARSEF</a></li>
                        <li class="usa-collection__meta-item usa-tag usa-tag--new"><a href="https://nt.ars-grin.gov/fungaldatabases/specimens/specimens.cfm">U.S. National Fungus Collection</a></li>
                    </ul>
                </p>

                <a id="grin-collections"></a>
                <h2 id="section-heading-h2m">GRIN Collections</h2>
                <p>
                    GRIN provides access to data maintained within its database, supporting both searches and export.
                    The Rhizobium collection of nitrogen fixing bacteria is maintained by the ARS Soybean Genomics and
                    Improvement Laboratory in Beltsville, MD. Plant Variety Protection Certificates are issued by the
                    Plant Variety Protection Office of the USDA Agricultural Marketing Service.
                </p>
                <ul class="usa-collection__meta" aria-label="Topics">
                    <li class="usa-collection__meta-item usa-tag usa-tag--new"><a href="@Url.Action("Index","PVP")">PVP Applications</a></li>
                    <li class="usa-collection__meta-item usa-tag usa-tag--new"><a href="@Url.Action("Index","Rhizobium")">Rhizobium</a></li>
                </ul>
            </main>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://leafletjs.com/examples/choropleth/us-states.js"></script>
<script type="text/javascript">

    var map = L.map('mapid').setView([37.8, -96], 4);

    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
        maxZoom: 18,
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
            'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        id: 'mapbox/light-v9',
        tileSize: 512,
        zoomOffset: -1
    }).addTo(map);

    var onMarkerClick = function (e) {
        var selectedSiteId = this.options.myCustomId;
        var link = '@Url.Action("_Detail", "Site", new { siteId = "SITE_ID" })';
        link = link.replace("SITE_ID", selectedSiteId);

        //DEBUG
        alert("SITE " + selectedSiteId);

        GetSiteInfo(selectedSiteId);
        $("#btnOpenSiteDetailModal")[0].click();
    }

    function GetSiteInfo(siteId) {
        var link = '@Url.Action("_Detail","Site")';
        var formData = new FormData();
        formData.append("SiteID", siteId);

        try {
            $.ajax({
                url: link,
                type: 'POST',
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                success: function (response) {
                    $("#section-modal-site-detail").html(response);
                }
            });
        }
        catch (ex) {
            //ErrorHandler(ex);
        }
    }

    //TODO: PDF EMBED
    if (navigator.userAgent.search("MSIE") >= 0) {
        //code goes here
    }
    else if (navigator.userAgent.search("Chrome") >= 0) {
        //alert("DEBUG CHROME");
    }
    else if (navigator.userAgent.search("Firefox") >= 0) {
        //code goes here
    }
    else if (navigator.userAgent.search("Safari") >= 0 && navigator.userAgent.search("Chrome") < 0) {
        //code goes here
    }
    else if (navigator.userAgent.search("Opera") >= 0) {
        //code goes here
    }

    var siteId = "";

    siteId = "1";
    var marker = L.marker([30.619591837167704, -96.36182821750184], { myCustomId: siteId });
    marker.on('click', onMarkerClick);
    marker.addTo(map);

    siteId = "13";
    var marker = L.marker([38.534862012868864, -121.75462764434283], { myCustomId: siteId });
    marker.on('click', onMarkerClick);
    marker.addTo(map);

    siteId = "15";
    var marker = L.marker([39.026515487598985, -76.9234882308379], { myCustomId: siteId });
    marker.on('click', onMarkerClick);
    marker.addTo(map);

    siteId = "19";
    var marker = L.marker([42.95707938078901, -112.82869678657434], { myCustomId: siteId });
    marker.on('click', onMarkerClick);
    marker.addTo(map);

    siteId = "31";
    var marker = L.marker([40.10305195116381, -88.22429523081477], { myCustomId: siteId });
    marker.on('click', onMarkerClick);
    marker.addTo(map);

    siteId = "37";
    var marker = L.marker([36.59667464938536, -119.51265894622854], { myCustomId: siteId });
    marker.on('click', onMarkerClick);
    marker.addTo(map);

    siteId = "42";
    var marker = L.marker([40.57317281015742, -105.07967561730995], { myCustomId: siteId });
    marker.on('click', onMarkerClick);
    marker.addTo(map);

    siteId = "2";
    var marker = L.marker([30.522515482482035, -96.42369203284417], { myCustomId: siteId });
    marker.on('click', onMarkerClick);
    marker.addTo(map);

    siteId = "3";
    var marker = L.marker([44.552400416076324, -123.22075287304186], { myCustomId: siteId });
    marker.on('click', onMarkerClick);
    marker.addTo(map);

    siteId = "4";
    var marker = L.marker([38.534862012868864, -121.75462764434283], { myCustomId: siteId });
    marker.on('click', onMarkerClick);
    marker.addTo(map);

    siteId = "5";
    var marker = L.marker([42.87768028143282, -77.0072383607277], { myCustomId: siteId });
    marker.on('click', onMarkerClick);
    marker.addTo(map);

    siteId = "6";
    var marker = L.marker([19.69834611262494, -155.09389535997298], { myCustomId: siteId });
    marker.on('click', onMarkerClick);
    marker.addTo(map);

    siteId = "7";
    var marker = L.marker([18.20681304702269, -67.13602555814018], { myCustomId: siteId });
    marker.on('click', onMarkerClick);
    marker.addTo(map);

    siteId = "8";
    var marker = L.marker([25.64388309000814, -80.2917109157293], { myCustomId: siteId });
    marker.on('click', onMarkerClick);
    marker.addTo(map);

    var geojson;

    function resetHighlight(e) {
        geojson.resetStyle(e.target);
        info.update();
    }

    function zoomToFeature(e) {
        map.fitBounds(e.target.getBounds());
    }

    function onEachFeature(feature, layer) {
        layer.on({
            mouseover: highlightFeature,
            mouseout: resetHighlight,
            click: zoomToFeature
        });
    }

    map.attributionControl.addAttribution('Population data &copy; <a href="http://census.gov/">US Census Bureau</a>');

    var legend = L.control({ position: 'bottomright' });

    legend.onAdd = function (map) {

        var div = L.DomUtil.create('div', 'info legend'),
            grades = [0, 10, 20, 50, 100, 200, 500, 1000],
            labels = [],
            from, to;

        for (var i = 0; i < grades.length; i++) {
            from = grades[i];
            to = grades[i + 1];

            labels.push(
                '<i style="background:' + getColor(from + 1) + '"></i> ' +
                from + (to ? '&ndash;' + to : '+'));
        }

        div.innerHTML = labels.join('<br>');
        return div;
    };

    legend.addTo(map);

</script>
