<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - USDA ARS GRIN</title>
    <script src="~/assets/uswds/dist/js/uswds-init.min.js"></script>
    <link rel="stylesheet" href="~/assets/uswds/dist/css/uswds.css" />
    <title>View</title>
    @Scripts.Render("~/bundles/jquery")
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
    @*@Styles.Render("~/Content/css")*@
    <!-- Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.1/dist/leaflet.js"
            integrity="sha256-NDI0K41gVbWqfkkaHj15IzU7PtMoelkzyKp8TOaFQ3s="
            crossorigin=""></script>

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
    <!-- MAY NEED FOR PVP/QUERY PAGES-->
    @*<style type="text/css">
            .grid-container {
                margin-left: auto;
                margin-right: auto;
                max-width: 94rem;
                padding-left: 1rem;
                padding-right: 1rem;
            }
        </style>*@
    <style type="text/css">
        .usa-nav {
            border-bottom: solid 1px #dfdfdf;
        }
        .usa-prose > p {
            max-width:100ex;
        }

        /*  Needed to ensure that only the accordion within the body of the page implements the plus/minus
            controls; without qualifying by id, causes the main header "here's how you know" link to
            superimpose the plus/minus over the text.
        */
        #section-committees .usa-accordion__button[aria-expanded=false] {
            background-image: url(/assets/img/usa-icons/add.svg),linear-gradient(transparent,transparent);
            background-repeat: no-repeat;
            background-size: 1.5rem;
        }

        #section-committees .usa-accordion__button[aria-expanded=true] {
            background-image: url(/assets/img/usa-icons/remove.svg),linear-gradient(transparent,transparent);
            background-repeat: no-repeat;
            background-size: 1.5rem;
        }

        #section-pvp-search-criteria .usa-accordion__button[aria-expanded=false] {
            background-image: url(/assets/img/usa-icons/add.svg),linear-gradient(transparent,transparent);
            background-repeat: no-repeat;
            background-size: 1.5rem;
        }

        #section-pvp-search-criteria .usa-accordion__button[aria-expanded=true] {
            background-image: url(/assets/img/usa-icons/remove.svg),linear-gradient(transparent,transparent);
            background-repeat: no-repeat;
            background-size: 1.5rem;
        }


        .usa-alert--info:before {
            background: url("@Url.Content("https://designsystem.digital.gov/assets/img/usa-icons/info.svg")") no-repeat center/contain;
            display: inline-block;
            height: 2rem;
            width: 2rem;
            content: "";
            display: block;
            height: 3.5rem;
            left: 0.9166666667rem;
            position: absolute;
            top: 0;
        }
        .usa-tag--new a {
            color:white;
        }
        /* Needed to ensure that DataTables search box label appears on the left of the search box. */
        .dataTables_filter input {
            float: none;
        }
        .site-sidenav.usa-sidenav {
            font-family: Public Sans Web,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
            font-size: .94rem;
            line-height: 1.4;
            background-color: #fff;
            border: 2px solid rgba(0,0,0,.1);
            border-radius: .25rem;
            padding: 0;
        }
        .usa-section {
            padding-bottom: 4rem;
            padding-top: 2rem; 
        }
    </style>

    <!--====================================================================
    LEAFLET STYLES
    ====================================================================
    -->
    <style>
        body {
            padding-top: 0px;
            padding-bottom: 0px;
        }

        #mapid {
            width: 800px;
            height: 500px;
        }

        .info {
            padding: 6px 8px;
            font: 14px/16px Arial, Helvetica, sans-serif;
            background: white;
            background: rgba(255,255,255,0.8);
            box-shadow: 0 0 15px rgba(0,0,0,0.2);
            border-radius: 5px;
        }

            .info h4 {
                margin: 0 0 5px;
                color: #777;
            }

        .legend {
            text-align: left;
            line-height: 18px;
            color: #555;
        }

            .legend i {
                width: 18px;
                height: 18px;
                float: left;
                margin-right: 8px;
                opacity: 0.7;
            }

        .usa-collection__heading {
            font-family: Source Sans Pro Web,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
            font-size: 1.13rem;
            line-height: 1.3;
            margin-bottom: 0;
            margin-top: 0;
        }
    </style>

</head>
<body>
    <script src="~/assets/uswds/dist/js/uswds.min.js"></script>
    @Html.Partial("~/Views/Shared/Partials/_USABanner.cshtml")
    <div class="usa-overlay"></div>
    @Html.Partial("~/Views/Shared/Partials/_USANavAdmin.cshtml")

    <!--<section class="usa-hero" aria-label="Introduction" style="height:100px; background-color:gray;">-->
        <!-- TODO -->
    <!--</section>-->
    @RenderBody()
    @Html.Partial("~/Views/Shared/Partials/_USAFooter.cshtml")
</body>
</html>
@Scripts.Render("~/bundles/bootstrap")
<script type="text/javascript">
    /* Set width of dark blue callout block based on the actual length of the title. */
    $('#hero-callout').css('max-width', '50rem');
    var maxlength = $("#hero-title").width() / 16 + 5 + "rem";
    $('#hero-callout').css('max-width', maxlength);

    /* Datatables */
    function InitDataTable(tableName) {
        $(document).ready(function () {
            var table = $("#" + tableName).DataTable({
                dom: 'Blfrtip',
                paging: true,
                initComplete: function () {
                    SetControlVisibility(tableName);
                },
                responsive: true,
                buttons: [
                    'selectAll',
                    'selectNone',
                    'csv',
                    'excel',
                    'pdf'
                ],
                select: true,
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
                columnDefs: [
                    { targets: [0], visible: false }
                ]
            });
        });
    }

</script>