@model USDA.ARS.GRIN.Web.ViewModelLayer.CropGermplasmCommitteeDocumentViewModel

<div tabindex="0">
    <ul class="usa-button-group">
        <li class="usa-button-group__item">
            <a href="@Url.Action("CropGermplasmCommitteeDocumentAdd","Admin")" class="usa-button usa-button--outline">Add a New Document</a>
        </li>
    </ul>
    <br />
    <table id="data-table-crop-germplasm-committee-document" class="table table-striped" style="width:100%;">
        <thead>
            <tr>
                <th></th>
                <th>ID</th>
                <th>Committee</th>
                <th>Title</th>
                <th>Created</th>
                <th>Last Edited</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var result in Model.DataCollection)
            {
                <tr>
                    <td>
                        @result.ID
                    </td>
                    <td>
                        @result.ID
                    </td>
                    <td>
                        @result.CommitteeName
                    </td>
                    <td>
                        <a class="usa-link" href="@result.URL" target="_blank">
                            @result.Title
                        </a>
                    </td>
                    <td>@result.CreatedDate.ToShortDateString()</td>
                    <td>
                        @if (result.ModifiedDate > DateTime.MinValue)
                        {
                            @result.ModifiedDate.ToShortDateString()
                        }
                    </td>
                    <td>
                        <a href="@Url.Action("CropGermplasmCommitteeDocumentEdit", "Admin", new { entityId = result.ID })" 
                           class="usa-button usa-button--accent-cool">Edit
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        InitDataTable("data-table-crop-germplasm-committee-document");
    });
</script>


