@model USDA.ARS.GRIN.Web.ViewModelLayer.CropGermplasmCommitteeDocumentViewModel
@{
    ViewBag.Title = Model.PageTitle;
    Layout = "~/Views/Shared/_LayoutUSWDSInteriorAdmin.cshtml";
}
<style>
    .usa-form {
        max-width: 50rem;
    }
</style>

<div class="usa-section">
    <div class="grid-container" style="max-width:94rem;">
        <div class="grid-row grid-gap">
            <div class="usa-layout-docs__sidenav desktop:grid-col-2">
                <ul class="site-sidenav usa-sidenav">




                    <li class="usa-sidenav__item is-current">


                        <a href="/components/" class="usa-current">

                            Components

                        </a>




                        <ul class="usa-sidenav__sublist">



                            <li class="usa-sidenav__item is-current">


                                <a href="/components/overview/" class="usa-current">

                                    Components

                                </a>









                            </li>




                            <li class="usa-sidenav__item">


                                <a href="/components/packages/">

                                    Packages

                                </a>



                            </li>

                        </ul>





                    </li>




                    <li class="usa-sidenav__item">


                        <a href="/components/accordion/">

                            Accordion

                        </a>



                    </li>




                    <li class="usa-sidenav__item">


                        <a href="/components/alert/">

                            Alert

                        </a>



                    </li>




                    <li class="usa-sidenav__item">


                        <a href="/components/banner/">

                            Banner

                        </a>



                    </li>




                    <li class="usa-sidenav__item">


                        <a href="/components/breadcrumb/">

                            Breadcrumb

                        </a>



                    </li>




                    <li class="usa-sidenav__item">


                        <a href="/components/button/">

                            Button

                        </a>



                    </li>




                    <li class="usa-sidenav__item">


                        <a href="/components/button-group/">

                            Button group

                        </a>



                    </li>




                    <li class="usa-sidenav__item">


                        <a href="/components/card/">

                            Card

                        </a>



                    </li>




                    <li class="usa-sidenav__item">


                        <a href="/components/character-count/">

                            Character count

                        </a>



                    </li>




                    <li class="usa-sidenav__item">


                        <a href="/components/checkbox/">

                            Checkbox

                        </a>



                    </li>




                    <li class="usa-sidenav__item">


                        <a href="/components/collection/">

                            Collection

                        </a>



                    </li>




                    <li class="usa-sidenav__item">


                        <a href="/components/combo-box/">

                            Combo box

                        </a>



                    </li>




                    <li class="usa-sidenav__item">


                        <a href="/components/data-visualizations/">

                            Data visualizations

                        </a>



                    </li>




                    <li class="usa-sidenav__item">


                        <a href="/components/date-picker/">

                            Date picker

                        </a>



                    </li>




                    <li class="usa-sidenav__item">


                        <a href="/components/date-range-picker/">

                            Date range picker

                        </a>



                    </li>




                    <li class="usa-sidenav__item">


                        <a href="/components/file-input/">

                            File input

                        </a>



                    </li>




                    <li class="usa-sidenav__item">


                        <a href="/components/footer/">

                            Footer

                        </a>



                    </li>




                    <li class="usa-sidenav__item">


                        <a href="/components/form/">

                            Form

                        </a>



                    </li>




                    <li class="usa-sidenav__item">


                        <a href="/utilities/layout-grid/">

                            Grid

                        </a>



                    </li>




                    <li class="usa-sidenav__item">


                        <a href="/components/header/">

                            Header

                        </a>



                    </li>




                    <li class="usa-sidenav__item">


                        <a href="/components/icon/">

                            Icon

                        </a>



                    </li>




                    <li class="usa-sidenav__item">


                        <a href="/components/icon-list/">

                            Icon list

                        </a>



                    </li>




                    <li class="usa-sidenav__item">


                        <a href="/components/identifier/">

                            Identifier

                        </a>



                    </li>




                    <li class="usa-sidenav__item">


                        <a href="/components/input-prefix-suffix/">

                            Input prefix or suffix

                        </a>



                    </li>




                    <li class="usa-sidenav__item">


                        <a href="/components/link/">

                            Link

                        </a>



                    </li>




                    <li class="usa-sidenav__item">


                        <a href="/components/list/">

                            List

                        </a>



                    </li>




                    <li class="usa-sidenav__item">


                        <a href="/components/memorable-date/">

                            Memorable date

                        </a>



                    </li>




                    <li class="usa-sidenav__item">


                        <a href="/components/modal/">

                            Modal

                        </a>



                    </li>




                    <li class="usa-sidenav__item">


                        <a href="/components/pagination/">

                            Pagination

                        </a>



                    </li>




                    <li class="usa-sidenav__item">


                        <a href="/components/process-list/">

                            Process list

                        </a>



                    </li>




                    <li class="usa-sidenav__item">


                        <a href="/components/prose/">

                            Prose

                        </a>



                    </li>




                    <li class="usa-sidenav__item">


                        <a href="/components/radio-buttons/">

                            Radio buttons

                        </a>



                    </li>




                    <li class="usa-sidenav__item">


                        <a href="/components/range-slider/">

                            Range slider

                        </a>



                    </li>




                    <li class="usa-sidenav__item">


                        <a href="/components/search/">

                            Search

                        </a>



                    </li>




                    <li class="usa-sidenav__item">


                        <a href="/components/select/">

                            Select

                        </a>



                    </li>




                    <li class="usa-sidenav__item">


                        <a href="/components/side-navigation/">

                            Side navigation

                        </a>



                    </li>




                    <li class="usa-sidenav__item">


                        <a href="/components/site-alert/">

                            Site alert

                        </a>



                    </li>




                    <li class="usa-sidenav__item">


                        <a href="/components/step-indicator/">

                            Step indicator

                        </a>



                    </li>




                    <li class="usa-sidenav__item">


                        <a href="/components/summary-box/">

                            Summary box

                        </a>



                    </li>




                    <li class="usa-sidenav__item">


                        <a href="/components/table/">

                            Table

                        </a>



                    </li>




                    <li class="usa-sidenav__item">


                        <a href="/components/tag/">

                            Tag

                        </a>



                    </li>




                    <li class="usa-sidenav__item">


                        <a href="/components/text-input/">

                            Text input

                        </a>



                    </li>




                    <li class="usa-sidenav__item">


                        <a href="/components/time-picker/">

                            Time picker

                        </a>



                    </li>




                    <li class="usa-sidenav__item">


                        <a href="/components/tooltip/">

                            Tooltip

                        </a>



                    </li>




                    <li class="usa-sidenav__item">


                        <a href="/components/typography/">

                            Typography

                        </a>



                    </li>




                    <li class="usa-sidenav__item">


                        <a href="/components/validation/">

                            Validation

                        </a>



                    </li>


                </ul>
                
                
                
                
                <nav aria-label="Secondary navigation">
                    <ul class="usa-sidenav">
                        <li class="usa-sidenav__item">
                            <a href="@Url.Action("Index","Admin")">Crop Germplasm Committees</a>
                        </li>
                        <li class="usa-sidenav__item">
                            <a href="@Url.Action("Index","Admin")">Documents</a>
                        </li>
                        <li class="usa-sidenav__item">
                            <a href="@Url.Action("Index","Admin")">Code Values</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <main class="usa-layout-docs__main desktop:grid-col-10 usa-prose usa-layout-docs" id="main-content">
                <h2 id="section-heading-h3">Edit Document</h2>
                <br />

                @using (Html.BeginForm("CropGermplasmCommitteeDocumentEdit", "Admin", FormMethod.Post, new { id = "frmSearch", @class = "usa-form usa-form--large", enctype = "multipart/form-data" }))
                {
                    @Html.Partial("~/Views/Admin/Shared/_RevisionHistory.cshtml")
                    @Html.HiddenFor(x => x.EventAction)
                    @Html.HiddenFor(x => x.TableName)
                    @Html.HiddenFor(x => x.TableCode)
                    @Html.HiddenFor(x => x.PageTitle)
                    @Html.HiddenFor(x => x.Entity.ID)
                    @Html.HiddenFor(x => x.AuthenticatedUserCooperatorID)
                    @Html.HiddenFor(x => x.ItemIDList)

                    <fieldset class="usa-fieldset">

                        <label class="usa-label" for="mailing-address-1">
                            Title
                            <abbr title="required" class="usa-hint usa-hint--required">*</abbr>
                        </label>
                        @Html.TextBoxFor(x => x.Entity.Title, new { @class = "usa-input" })
                        <div class="grid-row grid-gap">
                            <div class="mobile-lg:grid-col-12">
                                <label class="usa-label" for="apt-suite-other">Committee</label>
                                @Html.DropDownListFor(x => x.Entity.CropGermplasmCommitteeID, Model.CropGermplasmCommittees, "Select value", new { @class = "usa-select" })
                            </div>
                        </div>
                        <label class="usa-label" for="city">
                            Category
                            <abbr title="required" class="usa-hint usa-hint--required">*</abbr>
                        </label>
                        @Html.DropDownListFor(x => x.Entity.CategoryCode, Model.CategoryCodes, "All categories", new { @class = "usa-select" })
                        <label class="usa-label" for="mailing-address-1">
                            Year
                            <abbr title="required" class="usa-hint usa-hint--required">*</abbr>
                        </label>
                        @Html.TextBoxFor(x => x.Entity.Year, new { @class = "usa-input" })
                        <label class="usa-label" for="zip">
                            Current File URL
                            <abbr title="required" class="usa-hint usa-hint--required">*</abbr>
                        </label>
                        @Html.TextBoxFor(x => x.Entity.URL, new { @class = "usa-input", @readonly = "readonly", @style = "background-color:#ebebeb;" })
                        <div class="usa-form-group">
                            <label class="usa-label" for="file-input-single">Select the file to upload</label>
                            @Html.TextBoxFor(x => x.DocumentUpload, new { @class = "usa-file-input", @type = "file" })
                        </div>
                    </fieldset>
                    <input class="usa-button float-right" type="submit" value="Save" />
                    <input id="btnDelete" class="usa-button usa-button--secondary" type="button" value="Delete" data-toggle="modal" data-target="#modal-delete-confirm" />

                    <div id="modal-delete-confirm" class="modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="usa-title">Confirm Deletion</h4>
                                </div>
                                <div class="grid-container">
                                    <br />
                                    <p><strong>This will permanently remove this file, and the related record, from the database.</strong></p>
                                    <p>You will never see it again.</p>
                                    <p>Are you sure?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="usa-button usa-button--secondary float-left" data-dismiss="modal">No, Cancel</button>
                                    <button id="btnDeleteConfirm" type="button" class="usa-button" data-dismiss="modal">Yes, Delete this Document</button>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </main>
        </div>
    </div>
</div>
    
<script type="text/javascript">

    $(document).ready(function () {
        Init();
    });

    function Init() {
    }

    $('#btnDeleteConfirm').on('click', function () {
        $("#EventAction").val("DELETE");
        $("#frmSearch").submit();
    });
</script>
