@model USDA.ARS.GRIN.Web.ViewModelLayer.CropGermplasmCommitteeDocumentViewModel
@{
    ViewBag.Title = Model.PageTitle;
    Layout = "~/Views/Shared/_LayoutInteriorAdmin.cshtml";
}
<style>
    .usa-form {
        max-width: 50rem;
    }
</style>
<div class="grid-container">
    <div class="grid-row grid-gap">
        <div class="usa-layout-docs__sidenav desktop:grid-col-2">
            <nav aria-label="Secondary navigation">
                <ul class="usa-sidenav">
                    <li class="usa-sidenav__item">
                        <a href="@Url.Action("Index","Admin")">Crop Germplasm Committees</a>
                    </li>
                    <li class="usa-sidenav__item">
                        <a href="@Url.Action("Index","Admin")">Documents</a>
                    </li>
                    <li class="usa-sidenav__item">
                        <a href="@Url.Action("Index","Admin")">Code Values</a>
                    </li>
                </ul>
            </nav>
        </div>
        <main class="usa-layout-docs__main desktop:grid-col-10 usa-prose usa-layout-docs" id="main-content">
            @using (Html.BeginForm("CropGermplasmCommitteeDocumentEdit", "Admin", FormMethod.Post, new { id = "frmSearch", @class = "usa-form usa-form--large", enctype = "multipart/form-data" }))
            {
                @Html.Partial("~/Views/Admin/Shared/_RevisionHistory.cshtml")
                <br />
                @Html.HiddenFor(x => x.EventAction)
                @Html.HiddenFor(x => x.TableName)
                @Html.HiddenFor(x => x.TableCode)
                @Html.HiddenFor(x => x.PageTitle)
                @Html.HiddenFor(x => x.Entity.ID)
                @Html.HiddenFor(x => x.AuthenticatedUserCooperatorID)
                @Html.HiddenFor(x => x.ItemIDList)

                <fieldset class="usa-fieldset">
                    <legend class="usa-legend usa-legend--large">Edit Document</legend>
                    <label class="usa-label" for="mailing-address-1">
                        Title
                        <abbr title="required" class="usa-hint usa-hint--required">*</abbr>
                    </label>
                    @Html.TextBoxFor(x => x.Entity.Title, new { @class = "usa-input" })
                    <div class="grid-row grid-gap">
                        <div class="mobile-lg:grid-col-12">
                            <label class="usa-label" for="apt-suite-other">Committee</label>
                            @Html.DropDownListFor(x => x.Entity.CropGermplasmCommitteeID, Model.CropGermplasmCommittees, "Select value", new { @class = "usa-select" })
                        </div>
                    </div>
                    <label class="usa-label" for="city">
                        Category
                        <abbr title="required" class="usa-hint usa-hint--required">*</abbr>
                    </label>
                    @Html.DropDownListFor(x => x.Entity.CategoryCode, Model.CategoryCodes, "All categories", new { @class = "usa-select" })
                    <label class="usa-label" for="mailing-address-1">
                        Year
                        <abbr title="required" class="usa-hint usa-hint--required">*</abbr>
                    </label>
                    @Html.TextBoxFor(x => x.Entity.Year, new { @class = "usa-input" })
                    <label class="usa-label" for="zip">
                        Current File URL
                        <abbr title="required" class="usa-hint usa-hint--required">*</abbr>
                    </label>
                    @Html.TextBoxFor(x => x.Entity.URL, new { @class = "usa-input", @readonly = "readonly", @style = "background-color:#ebebeb;" })
                    <div class="usa-form-group">
                        <label class="usa-label" for="file-input-single">Select the file to upload</label>
                        @Html.TextBoxFor(x => x.DocumentUpload, new { @class = "usa-file-input", @type = "file" })
                    </div>
                </fieldset>
                <input class="usa-button float-right" type="submit" value="Save" />
                <input id="btnDelete" class="usa-button usa-button--secondary" type="button" value="Delete" data-toggle="modal" data-target="#modal-delete-confirm" />
            
                <div id="modal-delete-confirm" class="modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="usa-title">Confirm Deletion</h4>
                            </div>
                            <div class="grid-container">
                                <br />
                                <p><strong>This will permanently remove this file, and the related record, from the database.</strong></p>
                                <p>You will never see it again.</p>
                                <p>Are you sure?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="usa-button usa-button--secondary float-left" data-dismiss="modal">No, Cancel</button>
                                <button id="btnDeleteConfirm" type="button" class="usa-button" data-dismiss="modal">Yes, Delete this Document</button>
                            </div>
                        </div>
                    </div>
                </div>
                
            }
        </main>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        Init();
    });

    function Init() {
    }

    $('#btnDeleteConfirm').on('click', function () {
        $("#EventAction").val("DELETE");
        $("#frmSearch").submit();
    });
</script>
