@model USDA.ARS.GRIN.Web.ViewModelLayer.RhizobiumViewModel

<!-- Override: digital service template forces label to right of input.  -->
<style>
    .dataTables_filter input {
        float: none;
    }
</style>
<table id="data_table_rhizobium_descriptors" class="display" style="width:100%;">
    <thead>
        <tr>
            <th></th>
            <th>USDA Accession</th>
            <th>Host Plant Name</th>
            <th>Common Name</th>
            <th>Source</th>
            <th>Geographic Source</th>
            <th>Taxonomy</th>
            <th>Note</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var result in Model.DataCollection)
        {
        <tr>
            <td>@result.ID</td>
            <td>@result.USDAAccessionCode</td>
            <td>@result.HostPlantName</td>
            <td>@result.CommonName</td>
            <td>@result.Source</td>
            <td>@result.GeoSource</td>
            <td>@result.GenusSPP</td>
            <td>@result.Note</td>
        </tr>
        }
    </tbody>
</table>
