@model USDA.ARS.GRIN.Web.ViewModelLayer.SiteViewModel
<h2>
    @Model.Entity.LongName
</h2>
<table class="usa-table usa-table--borderless">
    <tbody>
        <tr>
            <th scope="row">Site Code</th>
            <td>
                @Model.Entity.ShortName
            </td>
        </tr>
        <tr>
            <th scope="row" style="vertical-align:top;">Address</th>
            <td>
                @Model.Entity.PrimaryAddress1
                @Model.Entity.PrimaryAddress2
                @Model.Entity.PrimaryAddress3
                @Model.Entity.PrimaryCity
            </td>
        </tr>
        <tr>
            <th scope="row">Contact</th>
            <td>
                @Model.Entity.EmailAddress
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <ul class="usa-collection__meta" aria-label="Topics">
                    @foreach (var result in Model.Entity.Crops)
                    {
                        <li class="usa-collection__meta-item usa-tag usa-tag--new" style="background-color:darkgray">@result.Title</li>
                    }
                </ul>
            </td>
        </tr>
    </tbody>
</table>   
<div class="usa-modal__footer">
    <ul class="usa-button-group">
        <li class="usa-button-group__item">
            <button type="button"
                    class="usa-button usa-button padding-105 text-center"
                    data-close-modal>
                Close
            </button>
        </li>
        <li class="usa-button-group__item">
            <button type="button"
                    class="usa-button usa-button--outline padding-105 text-center"
                    data-close-modal onclick="window.location.href='https://npgsweb.ars-grin.gov/gringlobal/site?id=@Model.Entity.ID';">
                View in GRIN-Global
            </button>
        </li>
    </ul>
</div>
 
