@model USDA.ARS.GRIN.Web.ViewModelLayer.PVPApplicationViewModel

<!-- Override: digital service template forces label to right of input.  -->
<style>
    .dataTables_filter input {
        float: none;
    }
</style>
<table id="data_table_pvp_application" class="display" style="width:100%;">
    <thead>
        <tr>
            <th>PV Number</th>
            <th>Applicant</th>
            <th>Variety (Cultivar)</th>
            <th>Common Name</th>
            <th>Experimental Name</th>
            <th>Expiration Date</th>
            <th>Status</th>
            <th>Accession</th>
            <th>Certificate</th>
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var result in Model.DataCollection)
        {
            <tr>
                <td>@result.ApplicationNumber</td>
                <td>@result.Applicant</td>
                <td>@result.VarietyName</td>
                <td>@result.CommonName</td>
                <td>@result.ScientificName</td>
                <td>
                    @if (result.ExpirationDate > DateTime.MinValue)
                    {
                        @result.ExpirationDate.ToShortDateString()
                    }
                </td>
                <td>
                    @if ((result.CertificateStatus == "Certificate Expired") ||
                            (result.CertificateStatus == "Certificate Issued"))
                    {
                        <a href=""> @result.CertificateStatus</a>
                    }
                    else
                    {
                        @result.CertificateStatus
                    }
                </td>
                <td>
                    <a class="usa-link usa-link--alt usa-link--external" href="https://npgsweb.ars-grin.gov/gringlobal/accessiondetail?id=@result.AccessionID">
                        @result.AccessionName
                    </a>
                </td>
                <td>
                    @if (!String.IsNullOrEmpty(result.CertificateURL))
                    {
                        <a href="@result.CertificateURL">
                            <img src="~/assets/img/PDF_32.png" />
                        </a>
                    }
                </td>
                <!--<td>
                    <button id="@result.ApplicationNumber" class="usa-button usa-button--outline detail-expand">Detail</button>-->
                    @*<a href="@Url.Action("Detail","PVP", new { id = result.ApplicationNumber })"
                           class="usa-button usa-button--outline">
                            Detail
                        </a>*@
                <!--</td>-->
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    //$(document).ready(function () {
    //    if (!$.fn.dataTable.isDataTable('#data_table_pvp_application')) {
            
    //    }
    //});

    /* DETAIL */
    $(function () {
        $('.detail-expand').on('click', function () {
            var id = this.id;
            $("#modal-pvp-detail").modal("show");
        });
    });

</script>