@model USDA.ARS.GRIN.Web.ViewModelLayer.PVPApplicationViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUSWDSInterior.cshtml";
}

<style>
    #overlay {
        height: 100%;
        width: 100%;
        position: fixed; /* NOTE: Had originally been "absolute;" overlay did not conceal entire page and allowed scrolling behind it. */
        top: 0px;
        left: 0px;
        z-index: 99999;
        background-color: #1b1b1b;
        color: white;
        filter: alpha(opacity=75);
        -moz-opacity: 0.75;
        opacity: 0.75;
        display: none;
        overflow: scroll;
    }

    #overlay h2 {
        position: fixed;
        margin-left: 40%;
        top: 40%;
    }

    #section-pvp-data-filters .usa-accordion__button {
        -moz-osx-font-smoothing: inherit;
        -webkit-font-smoothing: inherit;
        border: 0;
        border-radius: 0;
        box-shadow: none;
        padding: 0;
        text-align: left;
        background-image: url(https://designsystem.digital.gov/assets/img/icons/remove.svg),linear-gradient(transparent,transparent);
        background-repeat: no-repeat;
        background-color: #f0f0f0;
        background-position: right 1.25rem center;
        background-size: 1.5rem;
        color: #1b1b1b;
        cursor: pointer;
        display: inline-block;
        font-weight: 700;
        margin: 0;
        padding: 1rem 3.5rem 1rem 1.25rem;
        text-decoration: none;
        width: 100%;
        background-image: url(https://designsystem.digital.gov/assets/img/icons/remove-white.svg),linear-gradient(transparent,transparent);
        background-repeat: no-repeat;
        background-color: #0050d8;
        color: #fff;
    }
    #section-pvp-data-filters .usa-accordion__button:hover {
        background-color: #0050d8;
        color: white;
        border-color: #0050d8;
    }
</style>

<div id="overlay"><h2>Loading .. Please wait</h2></div>

<div class="usa-section">
    <div class="grid-container" style="max-width:94rem;">
        <div class="grid-row grid-gap">
            <div class="usa-layout-docs__sidenav desktop:grid-col-2">
                <nav aria-label="Secondary navigation">
                    <ul class="usa-sidenav">
                        <li class="usa-sidenav__item">
                            <a href="@Url.Action("Index","Home")">Home</a>
                        </li>
                        <li class="usa-sidenav__item">
                            <a href="@Url.Action("Index", "Home")" class="usa-current">PVP Applications</a>
                        </li>
                        <li class="usa-current">
                        </li>
                        <li class="usa-sidenav__item">
                            <ul class="usa-sidenav__sublist">
                                <li class="usa-sidenav__item active">
                                    <a href="#section-overview">Overview</a>
                                </li>
                                @*<li class="usa-sidenav__item">
                                    <a href="#section-directory">Applications by Status</a>
                                </li>*@
                                <li class="usa-sidenav__item">
                                    <a href="#section-briefings">Browse Applications</a>
                                </li>
                                <li class="usa-sidenav__item">
                                    <a href="@Url.Action("Search","PVP")">Advanced Search</a>
                                </li>
                            </ul>
                        </li>
                        <li class="usa-sidenav__item">
                            <a href="javascript:void(0);">Contact Us</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <main class="usa-layout-docs__main desktop:grid-col-10 usa-prose usa-layout-docs" id="main-content">
                <p class="usa-intro">
                    The Plant Variety Protection Office (PVPO) publishes the status of Plant Variety Protection Applications
                    on a monthly basis.
                </p>
                <p style="max-width:94rem;">
                    The PVPO also provides intellectual property protection to breeders of new
                    varieties of sexually reproduced, tuber propagated, and asexually reproduced plant varieties.
                    In accordance with the <a class="usa-link" href="https://uscode.house.gov/browse/prelim@title7/chapter57/subchapter1&edition=prelim">Plant Variety Protection Act (PVPA)</a>, it examines new varieties, and grants <a class="usa-link" href="https://www.ams.usda.gov/services/plant-variety-protection/issued-certificates">certificates</a> that protect
                    varieties for 20 years (25 years for woody vines and trees).
                </p>
                @*<div id="section-pvp-data">
                    @Html.Partial("~/Views/PVP/_ListByStatus.cshtml")
                </div>*@
                <h3 id="section-heading-h3">Browse Applications</h3>
                <div class="usa-alert usa-alert--info usa-alert--slim">
                    <div class="usa-alert__body">
                        <p class="usa-alert__text">
                            All data represented here is based on an <a class="usa-link" href="https://www.ams.usda.gov/services/plant-variety-protection/application-status">update</a> from <strong>1/9/2023</strong>. Please <a href="@Url.Action("Index","Contact", new { context="pvp" })">contact us</a> regarding any errors or omissions.
                        </p>
                    </div>
                </div>
                <br />
                <div id="section-pvp-data-filters" class="usa-accordion">
                    <h4 class="usa-accordion__heading">
                        <button id="btnExpiring6Months" 
                                type="button" 
                                title="EXP6"
                                class="usa-accordion__button"
                                aria-expanded="true"
                                aria-controls="section-EXP6">
                            Certificate Expiring in 6 Months
                        </button>
                    </h4>
                    <div id="section-EXP6" class="usa-accordion__content usa-prose">
                    </div>
                    <h4 class="usa-accordion__heading">
                        <button type="button" 
                                id="btnRecentlyExpired"
                                title="REXP"
                                class="usa-accordion__button"
                                aria-expanded="false"
                                aria-controls="section-REXP">
                            Certificate Recently Expired
                        </button>
                    </h4>
                    <div id="section-REXP" class="usa-accordion__content usa-prose">
                    </div>
                    <h4 class="usa-accordion__heading">
                        <button type="button"
                                title="RSUB"
                                class="usa-accordion__button"
                                aria-expanded="false"
                                aria-controls="section-RSUB">
                            Application Recently Submitted
                        </button>
                    </h4>
                    <div id="section-RSUB" class="usa-accordion__content usa-prose">
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
    <script type="text/javascript">
    $(document).ready(function () {
        LoadData("EXP6");
        $("#data-table_pvp_applications_filter").html("<label>Filter Results</label>");
    });

    $(function () {
        $('.usa-button-group__item button').on('click', function () {
            var context = $(this).attr("title");
            $('.usa-button-group__item button').addClass('usa-button--outline');
            $(this).removeClass('usa-button--outline');
            LoadData(context);
        });
    });

    $('.usa-accordion__button').on('click', function () {
        var id = $(this).attr("id");
        var ariaExpanded = $(this).attr("aria-expanded");
        var ariaControls = $(this).attr("aria-controls");
        var context = $(this).attr("title");

        if (ariaExpanded == "false") {
            LoadData(context);
        }
    });

    function LoadData(context)
    {
        $("#overlay").show();
        var link = '@Url.Action("_List", "PVP")';
        var selectedTimeFrame = context;
        var sectionName = "section-" + context;
        var formData = new FormData();
        formData.append("TimeFrame", context);

        $.ajax({
            url: link,
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                $("#" + sectionName).html(response);
                /*InitDataTable("data_table_pvp_application");*/
            }
        });
        $("#overlay").hide();
    }
</script>
