@model USDA.ARS.GRIN.Web.ViewModelLayer.PVPApplicationViewModel
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_LayoutUSWDSInterior.cshtml";
}

<style>
    #overlay {
        height: 100%;
        width: 100%;
        position: fixed; /* NOTE: Had originally been "absolute;" overlay did not conceal entire page and allowed scrolling behind it. */
        top: 0px;
        left: 0px;
        z-index: 99999;
        background-color: #1b1b1b;
        color: white;
        filter: alpha(opacity=75);
        -moz-opacity: 0.75;
        opacity: 0.75;
        display: none;
        overflow: scroll;
    }

    #overlay h2 {
        position: fixed;
        margin-left: 40%;
        top: 40%;
    }

    .usa-breadcrumb {
        padding-bottom: 1rem;
        padding-top: 0rem; 
    }
    #section-pvp-search-criteria .usa-accordion__button {
        -moz-osx-font-smoothing: inherit;
        -webkit-font-smoothing: inherit;
        border: 0;
        border-radius: 0;
        box-shadow: none;
        padding: 0;
        text-align: left;
        background-image: url(https://designsystem.digital.gov/assets/img/icons/remove.svg),linear-gradient(transparent,transparent);
        background-repeat: no-repeat;
        background-color: #f0f0f0;
        background-position: right 1.25rem center;
        background-size: 1.5rem;
        color: #1b1b1b;
        cursor: pointer;
        display: inline-block;
        font-weight: 700;
        margin: 0;
        padding: 1rem 3.5rem 1rem 1.25rem;
        text-decoration: none;
        width: 100%;
        background-image: url(https://designsystem.digital.gov/assets/img/icons/remove-white.svg),linear-gradient(transparent,transparent);
        background-repeat: no-repeat;
        background-color: #0050d8;
        color: #fff;
    }

        #section-pvp-search-criteria .usa-accordion__button:hover {
            background-color: #0050d8;
            color: white;
            border-color: #0050d8;
        }
</style>

<div id="overlay"><h2>Loading .. Please wait</h2></div>
<div class="usa-section">
    <div class="grid-container" style="max-width:94rem;">
        <div class="grid-row grid-gap">
            <main class="usa-layout-docs__main desktop:grid-col-12 usa-prose usa-layout-docs" id="main-content">
                <h2 id="section-heading-h2">Advanced Search</h2>
                @*<div class="usa-alert usa-alert--info usa-alert--slim">
            <div class="usa-alert__body">
                <p class="usa-alert__text">
                    All data represented here is based on an <a class="usa-link usa-link--alt usa-link--external" href="https://www.ams.usda.gov/services/plant-variety-protection/application-status">update</a> from <strong>9/19/2022</strong>. Please <a href="@Url.Action("Index","Contact", new { context="pvp" })">contact us</a> regarding any errors or omissions.
                </p>
            </div>
        </div>*@

                <div id="section-pvp-search-criteria" class="usa-accordion usa-accordion--bordered">
                    <h4 class="usa-accordion__heading">
                        <button type="button"
                                class="usa-accordion__button"
                                aria-expanded="true"
                                aria-controls="a1">
                            First Amendment
                        </button>
                    </h4>
                    <div id="a1" class="usa-accordion__content usa-prose">
                        @Html.Partial("~/Views/PVP/_Detail.cshtml")
                    </div>
                </div>



                    
                    <h3 id="section-heading-h3">Search Results (@Model.RowsAffected)</h3>

                    <table id="data-table_pvp_applications" class="display table-responsive">
                        <thead>
                            <tr>
                                <th>PV Number</th>
                                <th>Applicant</th>
                                <th>Variety (Cultivar)</th>
                                <th>Common Name</th>
                                <th>Experimental Name</th>
                                <th>Expiration Date</th>
                                <th>Status</th>
                                <th>Accession</th>
                                @*<th></th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var result in Model.DataCollection)
                            {
                                <tr>
                                    <td>@result.ApplicationNumber</td>
                                    <td>@result.Applicant</td>
                                    <td>@result.Variety</td>
                                    <td>@result.CommonName</td>
                                    <td>@result.ScientificName</td>
                                    <td>@result.ExpirationDate.ToShortDateString()</td>
                                    <td>
                                        @result.CertificateStatus
                                    </td>
                                    <td>
                                        <a class="usa-link usa-link--alt usa-link--external" href="https://npgsweb.ars-grin.gov/gringlobal/accessiondetail?id=@result.AccessionID">

                                            @result.AccessionName
                                        </a>
                                    </td>

                                    <!--<td>
                        <button id="@result.ApplicationNumber" class="usa-button usa-button--outline detail-expand">Detail</button>-->
                                    @*<a href="@Url.Action("Detail","PVP", new { id = result.ApplicationNumber })"
                                    class="usa-button usa-button--outline">
                                    Detail
                                    </a>*@
                                    <!--</td>-->
                                </tr>
                                }
                            </tbody>
                        </table>



                        <div class="grid-container margin-top-5" style="max-width:94rem;">
                            <div class="grid-row grid-gap">
                                <div class="grid-col-12">
                                    <div id="section-pvp-applications">

                                    </div>
                                </div>
                            </div>
                        </div>
                </main>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        InitDataTable("data-table_pvp_applications");
    });

    /* DETAIL */
    $(function () {
        $('.detail-expand').on('click', function () {
            var id = this.id;
            $("#modal-pvp-detail").modal("show");
        });
    });
</script>
